.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.input-container > input {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.input-container > input:hover {
  border: 1px solid #000;
}

.input-container > input:focus {
  border-color: #4e75ff;
  outline: none;
  color: #000;
}

.input-container > input:disabled {
  background-color: #fafafa;
  border-color: #808080;
  color: #808080;
}
.input-container > button {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-color: transparent;
}
.input-container > button:disabled {
  background: #cfcfcf;
  color: #989898;
}
.input-container > button:hover {
  background: #6c8cff;
}
.input-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 32px;
}
.timer__items {
  display: flex;
  font-size: 48px;
  gap: 15px;
  max-width: max-content;
  margin: 0 auto;
}

.timer__item {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}

.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
  transform: translateY(-50%);
  font-size: 0.75em;
  top: 25%;
}
.label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.value {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  letter-spacing: 1.6px;
}
